<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.act.monitor.common.mapper.CuStaticMapper" >
  <resultMap id="BaseResultMap" type="com.act.monitor.common.model.CuStatic" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="UUID" property="uuid" jdbcType="VARCHAR" />
    <id column="cuIP" property="cuip" jdbcType="VARCHAR" />
    <result column="cuType" property="cutype" jdbcType="INTEGER" />
    <result column="idcID" property="idcid" jdbcType="VARCHAR" />
    <result column="provID" property="provid" jdbcType="INTEGER" />
    <result column="idcName" property="idcname" jdbcType="VARCHAR" />
    <result column="device_stat" property="deviceStat" jdbcType="INTEGER" />
    <result column="device_stat_his" property="deviceStatHis" jdbcType="INTEGER" />
    <result column="process_stat" property="processStat" jdbcType="INTEGER" />
    <result column="process_stat_his" property="processStatHis" jdbcType="INTEGER" />
    <result column="cpurate_stat" property="cpurateStat" jdbcType="INTEGER" />
    <result column="cpurate_stat_his" property="cpurateStatHis" jdbcType="INTEGER" />
    <result column="disk_stat" property="diskStat" jdbcType="INTEGER" />
    <result column="disk_stat_his" property="diskStatHis" jdbcType="INTEGER" />
    <result column="memory_stat" property="memoryStat" jdbcType="INTEGER" />
    <result column="memory_stat_his" property="memoryStatHis" jdbcType="INTEGER" />
    <result column="runinfo_stat" property="runinfoStat" jdbcType="INTEGER" />
    <result column="runinfo_stat_his" property="runinfoStatHis" jdbcType="INTEGER" />
    <result column="cu_smms_comm_stat" property="cuSmmsCommStat" jdbcType="INTEGER" />
    <result column="cu_smms_comm_stat_his" property="cuSmmsCommStatHis" jdbcType="INTEGER" />
    <result column="cu_du_comm_stat" property="cuDuCommStat" jdbcType="INTEGER" />
    <result column="cu_du_comm_stat_his" property="cuDuCommStatHis" jdbcType="INTEGER" />
    <result column="cmd_stat" property="cmdStat" jdbcType="INTEGER" />
    <result column="cmd_stat_his" property="cmdStatHis" jdbcType="INTEGER" />
    <result column="reserve0" property="reserve0" jdbcType="VARCHAR" />
    <result column="reserve1" property="reserve1" jdbcType="VARCHAR" />
    <result column="partial_stat" property="partialStat" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="status_his" property="statusHis" jdbcType="INTEGER" />
    <result column="recordTime" property="recordtime" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>