<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.act.monitor.common.mapper.MonsysSmallidcEuCpurateStatMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.act.monitor.common.entity.MonsysSmallidcEuCpurateStat" id="monsysSmallidcEuCpurateStatMap">
        <result property="uuid" column="UUID"/>
        <result property="houseid" column="houseID"/>
        <result property="euid" column="euID"/>
        <result property="corenum" column="coreNum"/>
        <result property="cpu0" column="cpu0"/>
        <result property="cpu1" column="cpu1"/>
        <result property="cpu2" column="cpu2"/>
        <result property="cpu3" column="cpu3"/>
        <result property="cpu4" column="cpu4"/>
        <result property="cpu5" column="cpu5"/>
        <result property="cpu6" column="cpu6"/>
        <result property="cpu7" column="cpu7"/>
        <result property="cpu8" column="cpu8"/>
        <result property="cpu9" column="cpu9"/>
        <result property="cpu10" column="cpu10"/>
        <result property="cpu11" column="cpu11"/>
        <result property="cpu12" column="cpu12"/>
        <result property="cpu13" column="cpu13"/>
        <result property="cpu14" column="cpu14"/>
        <result property="cpu15" column="cpu15"/>
        <result property="cpu16" column="cpu16"/>
        <result property="cpu17" column="cpu17"/>
        <result property="cpu18" column="cpu18"/>
        <result property="cpu19" column="cpu19"/>
        <result property="cpu20" column="cpu20"/>
        <result property="cpu21" column="cpu21"/>
        <result property="cpu22" column="cpu22"/>
        <result property="cpu23" column="cpu23"/>
        <result property="cpu24" column="cpu24"/>
        <result property="cpu25" column="cpu25"/>
        <result property="cpu26" column="cpu26"/>
        <result property="cpu27" column="cpu27"/>
        <result property="cpu28" column="cpu28"/>
        <result property="cpu29" column="cpu29"/>
        <result property="cpu30" column="cpu30"/>
        <result property="cpu31" column="cpu31"/>
        <result property="cpu32" column="cpu32"/>
        <result property="cpu33" column="cpu33"/>
        <result property="cpu34" column="cpu34"/>
        <result property="cpu35" column="cpu35"/>
        <result property="cpu36" column="cpu36"/>
        <result property="cpu37" column="cpu37"/>
        <result property="cpu38" column="cpu38"/>
        <result property="cpu39" column="cpu39"/>
        <result property="cpu40" column="cpu40"/>
        <result property="cpu41" column="cpu41"/>
        <result property="cpu42" column="cpu42"/>
        <result property="cpu43" column="cpu43"/>
        <result property="cpu44" column="cpu44"/>
        <result property="cpu45" column="cpu45"/>
        <result property="cpu46" column="cpu46"/>
        <result property="cpu47" column="cpu47"/>
        <result property="cpu48" column="cpu48"/>
        <result property="cpu49" column="cpu49"/>
        <result property="cpu50" column="cpu50"/>
        <result property="cpu51" column="cpu51"/>
        <result property="cpu52" column="cpu52"/>
        <result property="cpu53" column="cpu53"/>
        <result property="cpu54" column="cpu54"/>
        <result property="cpu55" column="cpu55"/>
        <result property="cpu56" column="cpu56"/>
        <result property="cpu57" column="cpu57"/>
        <result property="cpu58" column="cpu58"/>
        <result property="cpu59" column="cpu59"/>
        <result property="cpu60" column="cpu60"/>
        <result property="cpu61" column="cpu61"/>
        <result property="cpu62" column="cpu62"/>
        <result property="cpu63" column="cpu63"/>
        <result property="cpu64" column="cpu64"/>
        <result property="cpu65" column="cpu65"/>
        <result property="cpu66" column="cpu66"/>
        <result property="cpu67" column="cpu67"/>
        <result property="cpu68" column="cpu68"/>
        <result property="cpu69" column="cpu69"/>
        <result property="cpu70" column="cpu70"/>
        <result property="cpu71" column="cpu71"/>
        <result property="cpu72" column="cpu72"/>
        <result property="cpu73" column="cpu73"/>
        <result property="cpu74" column="cpu74"/>
        <result property="cpu75" column="cpu75"/>
        <result property="cpu76" column="cpu76"/>
        <result property="cpu77" column="cpu77"/>
        <result property="cpu78" column="cpu78"/>
        <result property="cpu79" column="cpu79"/>
        <result property="cpu80" column="cpu80"/>
        <result property="cpu81" column="cpu81"/>
        <result property="cpu82" column="cpu82"/>
        <result property="cpu83" column="cpu83"/>
        <result property="cpu84" column="cpu84"/>
        <result property="cpu85" column="cpu85"/>
        <result property="cpu86" column="cpu86"/>
        <result property="cpu87" column="cpu87"/>
        <result property="cpu88" column="cpu88"/>
        <result property="cpu89" column="cpu89"/>
        <result property="cpu90" column="cpu90"/>
        <result property="cpu91" column="cpu91"/>
        <result property="cpu92" column="cpu92"/>
        <result property="cpu93" column="cpu93"/>
        <result property="cpu94" column="cpu94"/>
        <result property="cpu95" column="cpu95"/>
        <result property="cpu96" column="cpu96"/>
        <result property="cpu97" column="cpu97"/>
        <result property="cpu98" column="cpu98"/>
        <result property="cpu99" column="cpu99"/>
        <result property="cputotalRate" column="cputotal_Rate"/>
        <result property="reserve0" column="reserve0"/>
        <result property="reserve1" column="reserve1"/>
        <result property="status" column="status"/>
        <result property="recordtime" column="recordTime"/>
    </resultMap>

</mapper>