<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.act.monitor.common.mapper.TabMenuMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.act.monitor.common.entity.TabMenu" id="tabMenuMap">
        <result property="menuId" column="menu_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="menuNameCh" column="menu_name_ch"/>
        <result property="menuNameEn" column="menu_name_en"/>
        <result property="menuNameBig" column="menu_name_big"/>
        <result property="menuTitleCh" column="menu_title_ch"/>
        <result property="menuTitleEn" column="menu_title_en"/>
        <result property="menuTitleBig" column="menu_title_big"/>
        <result property="menuImage" column="menu_image"/>
        <result property="menuUrl" column="menu_url"/>
        <result property="menuParameter" column="menu_parameter"/>
        <result property="showSeq" column="show_seq"/>
        <result property="opType" column="op_type"/>
        <result property="verflag" column="verflag"/>
    </resultMap>

</mapper>