<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.act.monitor.common.mapper.TabMenuRoleMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.act.monitor.common.entity.TabMenuRole" id="tabMenuRoleMap">
        <result property="menuId" column="menu_id"/>
        <result property="parentId" column="parent_id"/>
        <result property="menuNameCh" column="menu_name_ch"/>
        <result property="menuUrl" column="menu_url"/>
        <result property="showSeq" column="show_seq"/>
        <result property="isActive" column="is_active"/>
    </resultMap>

</mapper>