<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.act.monitor.common.mapper.TabSysUserMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.act.monitor.common.entity.TabSysUser" id="tabSysUserMap">
        <result property="userId" column="user_id"/>
        <result property="password" column="password"/>
        <result property="username" column="username"/>
        <result property="tel" column="tel"/>
        <result property="email" column="email"/>
        <result property="state" column="state"/>
        <result property="lastTime" column="last_time"/>
        <result property="loginAmount" column="login_amount"/>
        <result property="createuser" column="createuser"/>
        <result property="sysmanage" column="sysmanage"/>
        <result property="uuid" column="uuid"/>
    </resultMap>

</mapper>