<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.act.monitor.common.mapper.TdProvinceMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.act.monitor.common.entity.TdProvince" id="tdProvinceMap">
        <result property="provId" column="PROV_ID"/>
        <result property="provName" column="PROV_NAME"/>
        <result property="provCode" column="PROV_CODE"/>
        <result property="provActive" column="PROV_ACTIVE"/>
        <result property="provNote" column="PROV_NOTE"/>
    </resultMap>

</mapper>