<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.act.monitor.common.mapper.TdProvinceMapper" >
  <resultMap id="BaseResultMap" type="com.act.monitor.common.model.TdProvince" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="PROV_ID" property="provId" jdbcType="BIGINT" />
    <result column="PROV_NAME" property="provName" jdbcType="VARCHAR" />
    <result column="PROV_CODE" property="provCode" jdbcType="VARCHAR" />
    <result column="PROV_ACTIVE" property="provActive" jdbcType="INTEGER" />
    <result column="PROV_NOTE" property="provNote" jdbcType="VARCHAR" />
  </resultMap>
</mapper>